Repository farenjir/gold-shop, changes with the owners that .github/CODEOWNERS names for each.
All owners: @maintainer1, @maintainer2, @frontend-team, @admin-team, @backend-team, @devops-team, @security-team

feat(docs): update docs
  README.md
  apps/gold-admin/project.json
  environment.template
Owners: @maintainer1, @maintainer2, @admin-team

feat( international ): install next international
  apps/gold-admin/project.json
  apps/gold-admin/src/app/components/LanguageSwitcher/index.tsx
  apps/gold-admin/src/app/layout.tsx
  apps/gold-admin/src/app/page.tsx
  apps/gold-admin/src/middleware.ts
  apps/gold-admin/src/providers/ClientProviders.tsx
  apps/gold-shop/project.json
  apps/gold-shop/src/app/components/LanguageSwitcher/index.tsx
  apps/gold-shop/src/app/layout.tsx
  apps/gold-shop/src/app/page.tsx
  apps/gold-shop/src/middleware.ts
  apps/gold-shop/src/providers/ClientProviders.tsx
  libs/shared-i18n/README.md
  libs/shared-i18n/eslint.config.mjs
  libs/shared-i18n/package.json
  libs/shared-i18n/project.json
  libs/shared-i18n/src/components/I18nProvider.tsx
  libs/shared-i18n/src/config/i18n.ts
  libs/shared-i18n/src/config/locales/en.ts
  libs/shared-i18n/src/config/locales/fa.ts
  libs/shared-i18n/src/hooks/useI18nHelpers.ts
  libs/shared-i18n/src/index.ts
  libs/shared-i18n/src/types/index.ts
  libs/shared-i18n/tsconfig.json
  libs/shared-i18n/tsconfig.lib.json
  package-lock.json
  tsconfig.base.json
  tsconfig.json
Owners: @maintainer2, @admin-team, @maintainer1, @frontend-team

feat( international ): install next international
  apps/gold-admin/src/app/[locale]/layout.tsx
  apps/gold-admin/src/app/[locale]/page.tsx
  apps/gold-admin/src/app/layout.tsx
  apps/gold-admin/src/app/page.tsx
  apps/gold-admin/src/middleware.ts
  apps/gold-admin/src/providers/ClientProviders.tsx
  apps/gold-admin/src/providers/ClientWrapper.tsx
  apps/gold-admin/tsconfig.json
  apps/gold-shop/src/app/[locale]/layout.tsx
  apps/gold-shop/src/app/[locale]/page.tsx
  apps/gold-shop/src/app/layout.tsx
  apps/gold-shop/src/app/page.tsx
  apps/gold-shop/src/middleware.ts
  apps/gold-shop/src/providers/ClientProviders.tsx
  apps/gold-shop/src/providers/ClientWrapper.tsx
  libs/shared-i18n/README.md
  libs/shared-i18n/src/components/SimpleI18nProvider.tsx
  libs/shared-i18n/src/config/i18n.ts
  libs/shared-i18n/src/index.ts
Owners: @maintainer2, @admin-team, @maintainer1, @frontend-team

feat( global css ): add css
  .vscode/settings.json
  apps/gold-admin/src/app/[locale]/layout.tsx
  apps/gold-admin/src/app/global.css
  apps/gold-shop/src/app/[locale]/layout.tsx
  apps/gold-shop/src/app/global.css
Owners: @maintainer1, @maintainer2, @admin-team, @frontend-team

fix( path ): edit path
  apps/gold-admin/src/app/[locale]/layout.tsx
  apps/gold-admin/src/providers/ClientWrapper.tsx
  apps/gold-admin/tsconfig.json
  apps/gold-shop/src/app/[locale]/layout.tsx
  apps/gold-shop/src/providers/ClientWrapper.tsx
  apps/gold-shop/tsconfig.json
Owners: @maintainer2, @admin-team, @maintainer1, @frontend-team

fix( path ): edit path
  apps/gold-admin/tsconfig.json
  apps/gold-shop/src/app/[locale]/page.tsx
  apps/gold-shop/tsconfig.json
  libs/shared-provider/src/index.ts
  tsconfig.base.json
Owners: @maintainer2, @admin-team, @maintainer1, @frontend-team

.github/CODEOWNERS:

# Global owners
* @maintainer1 @maintainer2

# Apps
/apps/gold-shop/ @maintainer1 @frontend-team
/apps/gold-admin/ @maintainer2 @admin-team

# Shared libraries
/libs/shared-ui/ @maintainer1 @frontend-team
/libs/shared-provider/ @maintainer1 @frontend-team
/libs/shared-icons/ @maintainer1 @frontend-team
/libs/shared-types/ @maintainer1 @maintainer2
/libs/shared-utils/ @maintainer1 @maintainer2
/libs/shared-data-access/ @maintainer2 @backend-team

# Configuration files
package.json @maintainer1 @maintainer2
nx.json @maintainer1 @maintainer2
tsconfig.base.json @maintainer1 @maintainer2

# GitHub Actions
/.github/workflows/ @maintainer1 @maintainer2 @devops-team

# Documentation
README.md @maintainer1 @maintainer2
CONTRIBUTING.md @maintainer1 @maintainer2
CODE_OF_CONDUCT.md @maintainer1 @maintainer2
SECURITY.md @maintainer1 @maintainer2
CHANGELOG.md @maintainer1 @maintainer2

# Security
audit-ci.json @maintainer1 @maintainer2 @security-team
